{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-bitpay-account" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid" id="bitpay-page">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ url_action }}" method="post" enctype="multipart/form-data" id="form-bitpay-account" class="form-horizontal">
          <input type="hidden" name="action" value="save">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a></li>
            <li><a href="#tab-log" data-toggle="tab">{{ tab_log }}</a></li>
            <li><a href="#tab-support" id="tab-support-tab" data-toggle="tab">{{ tab_support }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-settings">
              <h3 class="col-sm-10 col-sm-offset-2">{{ text_general }}</h3>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-api-token"><span data-toggle="tooltip" title="{{ help_api_access }}">{{ entry_api_access }}</span></label>
                <div class="col-sm-10">  
                  <div id="api-disconnected" class="btn-group {% if bitpay_connection == 'connected' %} hidden{% endif %}">
                    <a id="connect_to_bitpay" href="{{ url_connect_livenet }}" class="btn btn-primary pair_url">{{ text_connect_to_bitpay }}</a>
                    <button id="connect_to_bitpay_dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ url_connect_livenet }}" class="pair_url">{{ text_livenet }}</a></li>
                      <li><a href="{{ url_connect_testnet }}" class="pair_url">{{ text_testnet }}</a></li>
                    </ul>
                  </div>  
                  <div id="api-connected" class="input-group{% if bitpay_connection != 'connected' %} hidden{% endif %}">
                    <p class="form-control-static text-primary"><i class="fa fa-plug"></i> {{ text_connected }}</p>
                    <span class="input-group-btn">
                        <a style="border-radius:3px;" href="{{ url_disconnect }}" class="btn btn-danger"><i class="fa fa-unlink"></i> {{ button_disconnect }}</a>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-risk-speed"><span data-toggle="tooltip" title="{{ help_risk_speed }}">{{ entry_risk_speed }}</span></label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-bolt fa-fw"></i></span>
                    <select name="payment_bitpay_risk_speed" id="input-risk-speed" class="form-control">
                      <option value="high"{% if bitpay_risk_speed == "high" %} selected="selected"{% endif %}>{{ text_high }}</option>
                      <option value="medium"{% if bitpay_risk_speed == "medium" %} selected="selected"{% endif %}>{{ text_medium }}</option>
                      <option value="low"{% if bitpay_risk_speed == "low" %} selected="selected"{% endif %}>{{ text_low }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_send_buyer_info }}">{{ entry_send_buyer_info }}</span></label>
                <div class="col-sm-10">
                  <label class="radio-inline">            
                    <input type="radio" name="payment_bitpay_send_buyer_info" value="1" {% if bitpay_send_buyer_info %}checked="checked"{% endif %}/>
                    {{ text_yes }}
                  </label>
                  <label class="radio-inline">            
                    <input type="radio" name="payment_bitpay_send_buyer_info" value="0" {% if not bitpay_send_buyer_info %}checked="checked"{% endif %}/>
                    {{ text_no }}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                    <select name="payment_bitpay_geo_zone_id" id="input-geo-zone" class="form-control">
                      <option value="0">{{ text_all_zones }}</option>
                      {% for geo_zone in geo_zones %}
                      {% if geo_zone['geo_zone_id'] == bitpay_geo_zone_id %}
                      <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                      {% else %}
                      <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_bitpay_status" id="input-status" class="form-control">
                    {% if bitpay_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                  {% if error_status %}
                  <div class="text-danger">{{ error_status }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_bitpay_sort_order" value="{{ bitpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
              <br>
              <h3 class="col-sm-10 col-sm-offset-2">{{ text_statuses }}</h3>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_paid_status }}">{{ entry_paid_status }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_bitpay_paid_status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status['order_status_id'] == bitpay_paid_status %}
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_confirmed_status }}">{{ entry_confirmed_status }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_bitpay_confirmed_status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status['order_status_id'] == bitpay_confirmed_status %}
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_complete_status }}">{{ entry_complete_status }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_bitpay_complete_status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status['order_status_id'] == bitpay_complete_status %}
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <br>
              <h3 class="col-sm-10 col-sm-offset-2{% if error_notify_url or error_return_url %} text-danger{% endif %}">{{ text_advanced }}</h3>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-notify-url"><span data-toggle="tooltip" title="{{ help_notify_url }}">{{ entry_notify_url }}</span></label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                    <input type="url" name="payment_bitpay_notify_url" id="input-notify-url" value="{{ bitpay_notify_url }}" placeholder="{{ default_notify_url }}" class="form-control" />
                  </div>
                  {% if error_notify_url %}
                  <div class="text-danger">{{ error_notify_url }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-return-url"><span data-toggle="tooltip" title="{{ help_return_url }}">{{ entry_return_url }}</span></label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                    <input type="url" name="payment_bitpay_return_url" id="input-return-url" value="{{ bitpay_return_url }}" placeholder="{{ default_return_url }}" class="form-control" />
                  </div>
                  {% if error_return_url %}
                  <div class="text-danger">{{ error_return_url }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_bitpay_debug" id="input-debug" class="form-control">
                    {% if bitpay_debug %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-log">
              <p>
                <pre id="bitpay_logs" class="form-control">{{ log }}</pre>
              </p>
              <div class="text-right"><a href="{{ url_clear }}" class="btn btn-danger"><i class="fa fa-eraser"></i> {{ button_clear }}</a></div>
            </div>
            <div class="tab-pane" id="tab-support">
              <div class="col-sm-10 col-sm-offset-2">
                <h3><i class="fa fa-comments"></i> {{ text_forum }}</h3>
                <p>
                  {{ text_bitpay_labs }}
                </p>
                <br>
              </div>
              <div class="col-sm-10 col-sm-offset-2">
                <h3><i class="fa fa-support"></i> {{ text_send_request }}</h3>
                <p>
                  {{ text_support }}
                </p>
                <br>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input type="text" name="request_name" id="input-name" value="{{ request_name }}" placeholder="{{ entry_name }}" class="form-control" />
                  </div>
                  {% if error_request_name %}
                  <div class="text-danger">{{ error_request_name }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-email-address">{{ entry_email_address }}</label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                    <input type="email" name="request_email_address" id="input-email-address" value="{{ request_email_address }}" placeholder="{{ entry_email_address }}" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false" />
                  </div>
                  {% if error_request_email_address %}
                  <div class="text-danger">{{ error_request_email_address }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_send_logs }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="request_send_logs" value="1" {% if request_send_logs %}checked="checked" {% endif %}/>
                    {{ text_yes }}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="request_send_logs" value="0" {% if not request_send_logs %}checked="checked" {% endif %}/>
                    {{ text_no }}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_send_server_info }}">{{ entry_send_server_info }}</span></label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="request_send_server_info" value="1" {% if request_send_server_info %}checked="checked" {% endif %}/>
                    {{ text_yes }}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="request_send_server_info" value="0" {% if not request_send_server_info %}checked="hcescked" {% endif %}/>
                    {{ text_no }}
                  </label>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
                <div class="col-sm-10">
                  <input type="text" name="request_subject" id="input-subject" value="{{ request_subject }}" placeholder="{{ entry_subject }}" class="form-control" />
                  {% if error_request_subject %}
                  <div class="text-danger">{{ error_request_subject }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                <div class="col-sm-10">
                  <textarea name="request_description" id="input-description" class="form-control" rows="5">{{ request_description }}</textarea>
                  {% if error_request_description %}
                  <div class="text-danger">{{ error_request_description }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="text-right"><button class="btn btn-primary" name="action" value="send"><i class="fa fa-paper-plane"></i> {{ button_send }}</button></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .btn-bitpay {
    color: #fff;
    background-color: #002855;
    border-color: #000F3C;
  }

  .btn-bitpay:hover, .btn-bitpay:focus, .btn-bitpay:active {
    color: #fff;
    background-color: #000F3C;
    border-color: #000023;
  }

  #bitpay_logs {
    overflow: scroll; 
    white-space: nowrap;
    height: 15em;
  }

  .bp-log-date {
    font-size: 12px;
  }
  .bp-log-level {
    font-weight: bold;
  }
  .bp-log-locale {
    font-weight: bold;
  }
  .bp-log-locale > span {
    color: #888;
    font-weight: normal;
    font-style: italic;
  }
  .bp-log-locale > span > span {
    color: #c55;
  }
  .bp-log-error > .bp-log-level > span {
    color: #a94442;
  }
  .bp-log-warn > .bp-log-level > span {
    color: #aa6708;
  }
  .bp-log-info > .bp-log-level > span {
    color: #31708f;
  }
  .bp-log-trace > .bp-log-level > span {
    color: #777;
  }

  #bitpay_disconnect {
    border-radius: 3px;
  }
</style>
<script type="text/javascript"><!--
  (function(){
    $('.pair_url').on('click', function(e) {
      $('#connect_to_bitpay').addClass('disabled');
      $('#connect_to_bitpay_dropdown').addClass('disabled');
    });

    {% if error_request %}
    $('#tab-support-tab').tab('show');
    {% endif %}
  }())
//--></script>
{{ footer }}